@model hackatonposfiap.domain.Dtos.GerenciadorVideoItemDto

@{
    ViewData["Title"] = "Index";
}

<h4>Gerenciamento de vídeos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Intervalo" class="control-label">Intervalo de tempo (seg)</label>
                <input asp-for="Intervalo" class="form-control" />
                <span asp-validation-for="Intervalo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arquivo" class="control-label"></label>
                <input asp-for="Arquivo" type="file" class="form-control" />
                <span asp-validation-for="Arquivo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
