rabbit, [
	{default_user, "hackauser"},
	{default_pass, "hackauser"}
],
rabbitmq_shovel, [
{ shovels, [
	{my_shovel,
		[
			{sources, [{broker, "amqp://source_host"}]},
			{destinations, [{broker, "amqp://dest_host"}]},
			{queue,  "hacka_queue" },
			{prefetch_count, 10},
			{reconnect_delay, 5}
		]}
	]}
],
rabbitmq_management, [
	{listener, [
		{port, 15672}
	]}
],
rabbitmq_federation, [
	{federation, [
		{upstream, [
			{name, "source"},
			{uri, "amqp://source_host"}
		]},
	{queues, [
		{name, "hacka_queue" },
		{vhost, "hacka_vhost" },
		{durable, true},
		{auto_delete, false},
		{arguments, []}
		]}
	]},
      {exchanges, [
        {name, "hack_exchange" },
        {vhost,  "hack_exchange" },
        {type, "topic" },
        {durable, true},
        {auto_delete, false}
      ]}
],

rabbitmq_bindings, [
    {bindings, [
      {source, "hack_exchange" },
	  {destination,  "hacka_queue" },
	  {routing_key, "hacka_key" }
    ]}
].